#container{
    display: flex;
    flex-direction: row;
}

form{
    background-color: lightgray;
}

.movie-entry{
    border-bottom: 1px dashed black;
    margin: 5px;
    padding-bottom: 10px;
}

.movie-entry h2{
    margin-bottom: 0px;
}

.movie-entry .ratings > div{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    text-align: center;
    width: 150px;
}